@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    outline: none;
    text-decoration: none;
}

html {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    flex-direction: column;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
}

/* Loadings */
.start_loading_section, .loading_section {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2B4129;
    z-index: 999;
}

.loading_section {
    display: none;
}

.sl_img, .l_img {
    width: 120px;
}

/* Welcome section */
.welcome_section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.welcome_section img {
    margin-bottom: 50px;
}

.welcome_section p a {
    color: #2B4129;
    font-weight: 500;
}

/* PWA STYLE */
.pwa_main_section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.pm_navigator {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.n_back {
    width: 39px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2B4129;
    background-color: #D8ECD7;
    border-radius: 10px;
}

.pm_login {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
}

.pm_login img {
    width: 170px;
}

.pm_login div {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: -30px;
}

.pm_login div img {
    width: 20px;
    height: 20px;
}

.pm_login div #nap {
    width: 15px;
    height: 15px;
}

.pm_login input {
    width: 90%;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 10px;
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 6px;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.1));
}

.pm_login #input_log_1 {
    margin-top: 60px;
    margin-bottom: 15px;
}

.pm_login #input_log_2 {
    margin-bottom: 60px;
}

.pm_login a {
    text-align: center;
    width: 90%;
    font-weight: 500;
    border-radius: 10px;
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 6px;
    margin-bottom: 15px;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.1));
}

.pm_login #login {
    color: #fff;
    background-color: #2B4129;
}

.pm_login #next {
    color: #2B4129;
    background-color: #D8ECD7;
}

.pm_new {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.pm_new #n_date {
    color: #707070;
    padding-top: 0;
}

.pm_new img {
    height: 250px;
    border-radius: 10px;
    margin-top: 20px;
}

.pm_new #n_text {
    font-weight: 500;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pm_news {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.ns_item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    overflow: hidden;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.ns_item img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    margin-bottom: 20px;
}

.ns_item h2 {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
}

.ns_item p {
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}

.pm_userinfo {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2B4129;
    border-radius: 0 0 30px 30px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.pm_userinfo h2 {
    color: #F2FFF1;
    padding-left: 20px;
    padding-right: 20px;
}

.pm_userinfo p {
    color: #87BC83;
    padding-left: 20px;
    padding-right: 20px;
}

.pm_h2 {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.pm_grid_a {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
}

.pm_grid_a a {
    position: relative;
    height: 160px;
    display: flex;
    flex-direction: column;
    background-color: #D8ECD7;
    color: #2B4129;
    border-radius: 30px;
    filter: drop-shadow(4.38095px 4.38095px 10.9524px rgba(0, 0, 0, 0.1));
}

.pm_grid_a a img {
    position: absolute;
    border-radius: 0 0 30px 0;
    bottom: 0;
    right: 0;
}

.pm_grid_a a p {
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 20px;
}

.pm_list_shka {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.pm_list_shka a {
    position: relative;
    height: 120px;
    display: flex;
    flex-direction: column;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.pm_list_shka a div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #00000030;
}

.pm_list_shka a img {
    object-fit: cover;
}

.pm_list_shka a p {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 20px;
    font-weight: 700;
    z-index: 1;
}